<!-- Rails 3 uses HTML5 by default (as indicated by the doctype <!DOCTYPE html>) -->
<!DOCTYPE html>
<html>
  <head>
    <!--
    Application site layout - way to factor out common elements into a global layout
    with the body contents inserted on a per-page basis.

    The title is set using the application helper method (without the @ sign).

    The title can also be set using an instance variable defined in the controller
    using Embedded Ruby (ERb) hence the file extension ".erb" ie. @title
    When we visit /pages/home, Rails executes the body of the home action,
    which makes the assignment @title = "Home".
    Rails then renders the view, using ERb to insert the value of @title into the template,
    which the web server then sends to your browser as HTML
    -->
    <title><%= title %></title>
    <!--
    Rails method "csrf_meta_tag" to prevent cross-site request forgery (CSRF), a type of malicious web attack
    -->
    <%= csrf_meta_tag %>
    <!--
    Rails helper "render" to look for a file called "app/views/layouts/_stylesheets.html.erb"
    evaluate its contents and insert the results into the view.
    The leading underscore on the filename is the universal convention for naming partial.
    -->
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <!--
    container div around the site navigation and content (container div is needed by Blueprint);
    HTML div tag is a generic division - it just divides the document into distinct parts;
    HTML5 adds the header, nav, and section elements for divisions common to many applications;
    all HTML elements can be assigned classes and id - merely labels useful for styling with CSS
    classes can be used multiple times on a page while but ids can only be used once
    -->
    <div class="container">
      <!-- 
      Rails helper "render" to look for a partial file called "app/views/layouts/_header.html.erb"
      -->
      <%= render 'layouts/header' %>
      <!-- section element containing site's main content -->
      <section class="round">
        <!-- "yield" is responsible for inserting the contents of ach page into the site-wide layout -->
        <%= yield %>
      </section>
      <!--
      Rails helper "render" to look for a partial file called "app/views/layouts/_footer.html.erb"
      -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>